<app-loader *ngIf="busy === true"></app-loader>
<div class="grid-container">
  <h1 class="mat-h1">Available Gym Classes</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>trainers</mat-label>
      <mat-select (selectionChange)="filterByTrainer($event)">
        <mat-option *ngFor="let trainer of trainers" [value]="trainer.id">
          {{ trainer.firstName }} {{ trainer.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="gymClasses.length > 0">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let gc of gymClasses">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{gc.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openBookingDialog(gc)">Book</button>              
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Description:  {{gc.description}}</div>
          <div>Trainer:  {{gc.trainer}}</div>
          <div>Duration:  {{gc.durationInHours }}H</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>  
  </mat-grid-list>
</div>
</div>
