<h2 mat-dialog-title>Book {{ gymClassName }}</h2>
<mat-dialog-content>
    <form [formGroup]="bookingForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field >
        <!--<input matInput type="datetime-local" placeholder="Booking date" formControlName="bookingDate">-->
        <mat-label>Choose a date</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" formControlName="bookingDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        <mat-error *ngIf="bookingForm.controls['bookingDate'].hasError('required')">
          Booking Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="ok()" [disabled]="!bookingForm.valid">OK</button>
    <button class="mat-raised-button mat-primary" (click)="cancel()">Cancel</button>
</mat-dialog-actions>